.recipe-title {
  font-size: 2.5em;
}

.recipe-ingredients {
  white-space: pre-line;
  font-size: 1.5em;
}

.recipe-card {
  background-color: pink;
  width: 60vw;
  display: block;
}

.recipes-container {
  display: flex;
  justify-content: center;
  width: 80vw;
}

.edit {
  text-transform: uppercase;
  width: 5vw;
  background-color: crimson;
  font-weight: 900;
  font-size: inherit;
  margin-bottom: 1em;
}
